<div class="margin-top margin-left">

<h3>Edit record</h3>
<form action="/edit-record/{{result._id}}" method="POST" enctype="multipart/form-data"> 
 
    <label for="date">Date: </label>
    <input type="text" name="date" id="date" value="{{result.date}}">
<br>
    <label for="players">Player names: </label>
    <input type="text" name="players" id="players" value="{{result.players}}">
<br>
    <label for="winner">Winner: </label>
    <input type="text" name="winner" id="winner" value="{{result.winner}}">
<br>
    <label for="scores">Scores: </label>
    <input type="text" name="scores" id="scores" value="{{result.scores}}">
<br>

    <label for="attachedFile_path">Attached file: </label>
    <input type="hidden" name="att_name" id="att_name" value="{{result.attachedFile_name}}">
    <input type="hidden" name="att_path" id="att_path" value="{{result.attachedFile_path}}">

    <input type="file" name="attachedFile_path" id="attachedFile_path">

<br>
<input type="hidden" name="linkedGame" id="linkedGame" value="{{result.linkedGame}}">

<button class="button is-primary" style="margin: 10px" type="submit">Edit match record</button>    
</form>

   {{!-- <input type="text" style="display: none;" name="pathLink" value="{{result.attachedFile_path}}"> --}}

