<div class="margin-top margin-left margin-right game-records">

    <h2>My Game records: {{name}}</h2>
    
    <hr>
    <div class="new-record row justify-content-between">
        
        <form action="/game-records/{{gameId}}" method="POST">
<h4>New record</h4>
            <label for="date">Date: </label>
            <input type="text" name="date" id="date">
            <br>
            <label for="player">Player names: </label>
            <input type="text" name="player" id="player">
            <br>
            <label for="winner">Winner: </label>
            <input type="text" name="winner" id="winner">
            <br>
            <label for="scores">Scores: </label>
            <input type="text" name="scores" id="scores">
            <br>
            <label for="attachedFile">Attached file: </label>
            <input type="text" name="attachedFile" id="attachedFile">
            <br>
            <button class="button is-primary" style="margin: 10px" type="submit">Create match record</button>
        </form>
        <img src="{{image_url}}" alt="{{name}}">
    </div>
    

    <div class="container">
        <div class="row records-list">
            {{#each records_id}}

            <div class="card" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">{{date}}</h5>
                    <p class="card-text">Players: {{players}}</p>
                    <p class="card-text">Winner: {{winner}}</p>
                    <p class="card-text">Scores: {{scores}}</p>
                    <p class="card-text">attachedFile: {{attachedFile}}</p>
                    {{!-- <button><a href="/edit-record/{{linkedGame}}/{{_id}}">Edit Record</a></button> --}}
                    <form action="/delete-record/{{linkedGame}}/{{_id}}" method="POST">
                    <button type="submit">Delete Record</button>
                </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{!-- <h3>Edit record</h3>
<form action="/edit-record/{{boardgame}}/{{_id}}" method="POST"> 
 
    <label for="date">Date: </label>
    <input type="text" name="date" id="date" value="{{date}}">
<br>
    <label for="player">Player names: </label>
    <input type="text" name="player" id="player" value="{{players}}">
<br>
    <label for="winner">Winner: </label>
    <input type="text" name="winner" id="winner" value="{{winner}}">
<br>
    <label for="scores">Scores: </label>
    <input type="text" name="scores" id="scores" value="{{scores}}">
<br>
    <label for="attachedFile">Attached file: </label>
    <input type="text" name="attachedFile" id="attachedFile" value="{{attachedFile}}">
<br>
<input type="hidden" name="boardgame" id="boardgame" value="{{boardgame}}">
<button class="button is-primary" style="margin: 10px" type="submit">Edit match record</button>    
</form> --}}