<div class="margin-top margin-left margin-right game-records">

    <h2>My Game records: {{name}}</h2>

    <hr>
    <div class="new-record row justify-content-between">

        <form action="/game-records/{{gameId}}" method="POST" enctype="multipart/form-data">

            <h4>New record</h4>
            <label for="date">Date: </label>
            <input type="text" name="date" id="date">
            <br>
            <label for="players">Player names: </label>
            <input type="text" name="players" id="players">
            <br>
            <label for="winner">Winner: </label>
            <input type="text" name="winner" id="winner">
            <br>
            <label for="scores">Scores: </label>
            <input type="text" name="scores" id="scores">
            <br>

            <label for="attachedFile_path">Attached file: </label>
            <input type="file" name="attachedFile_path" id="attachedFile_path">
            <br>
            <button class="button is-primary" style="margin: 10px" type="submit">Create match record</button>
        </form>
        <img src="{{image_url}}" alt="{{name}}">
    </div>


    <div class="container">
        <div class="row records-list">
            {{#each records_id}}

            <div class="card" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">{{date}}</h5>
                    <p class="card-text">Players: {{players}}</p>
                    <p class="card-text">Winner: {{winner}}</p>
                    <p class="card-text">Scores: {{scores}}</p>

                    <button id="containerImg" type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                        <img src="{{attachedFile_path}}" alt="scoresImage" id="scoresImg">
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{{attachedFile_path}}" alt="scoreImg" id="scoresImgBig">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <button><a href="/edit-record/{{_id}}">Edit Record</a></button>
                    <form action="/delete-record/{{linkedGame}}/{{_id}}" method="POST">
                        <button type="submit">Delete Record</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{!-- <h3>Edit record</h3>
<form action="/edit-record/{{boardgame}}/{{_id}}" method="POST"> 
 
    <label for="date">Date: </label>
    <input type="text" name="date" id="date" value="{{date}}">
<br>
    <label for="player">Player names: </label>
    <input type="text" name="player" id="player" value="{{players}}">
<br>
    <label for="winner">Winner: </label>
    <input type="text" name="winner" id="winner" value="{{winner}}">
<br>
    <label for="scores">Scores: </label>
    <input type="text" name="scores" id="scores" value="{{scores}}">
<br>
    <label for="attachedFile">Attached file: </label>
    <input type="text" name="attachedFile" id="attachedFile" value="{{attachedFile}}">
<br>
<input type="hidden" name="boardgame" id="boardgame" value="{{boardgame}}">
<button class="button is-primary" style="margin: 10px" type="submit">Edit match record</button>    
</form> --}}