<div class="margin-top margin-left margin-right game-records">

    <h2>My Game records: {{name}}</h2>

    <hr>
    <div class="container">
    <div class="new-record row justify-content-between">

        <form action="/game-records/{{gameId}}" method="POST" enctype="multipart/form-data">

            <h4>New record</h4>
            <label for="date">Date: </label>
            <input type="text" name="date" id="date">
            <br>
            <label for="players">Player names: </label>
            <input type="text" name="players" id="players">
            <br>
            <label for="winner">Winner: </label>
            <input type="text" name="winner" id="winner">
            <br>
            <label for="scores">Scores: </label>
            <input type="text" name="scores" id="scores">
            <br>

            <label for="attachedFile_path">Attached file: </label>
            <input type="file" name="attachedFile_path" id="attachedFile_path">
            <br>
            <button class="button is-primary" style="margin: 10px" type="submit">Create match record</button>
        </form>
        <img src="{{image_url}}" alt="{{name}}">
    </div>
    </div>

    <div class="container">
        <div class="row records-list">
            {{#each records_id}}

            <div class="card" style="width: 18rem; padding-bottom: 10px">
                <div class="card-body">
                    <h5 class="card-title">{{date}}</h5>
                    <p class="card-text">Players: {{players}}</p>
                    <p class="card-text">Winner: {{winner}}</p>
                    <p class="card-text">Scores: {{scores}}</p>
                    <a href="/edit-record/{{_id}}">Edit Record</a>
                </div>
                <div class="record-card">
                <img src="{{attachedFile_path}}" alt="{{attachedFile_name}}" class="card-img img-fluid" id="attachedImg">
                </div>
                    <form action="/delete-record/{{linkedGame}}/{{_id}}" method="POST">
                        <button type="submit" class="btn-secondary d-block mx-auto">Delete Record</button>
                    </form>
            </div>
            {{/each}}
        </div>
    </div>
</div>