<div class="container margin-top game-list">
  <h2>My board games list</h2>

  <div class="card mb-8">
    <div class="row game-list-properties">
      
      {{#each boardgame_id}}

      <div class="col-md-2 image-block">
        <img src="{{image_url}}" alt="{{name}}" class="card-img">

      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">Players: {{min_players}} - {{max_players}}</p>
          <p class="card-text">Play time: {{min_playtime}} - {{max_playtime}}</p>
          <p class="card-text">Min age: {{min_age}}</p>
          <p class="card-text">See the rules <a href="{{rules_url}}" target="_blank">here</a></p>

          <a href="/game-records/{{_id}}">View records</a>

        </div>
      </div>
      <div class="col-md-1 delete-block">
        <form action="/delete-game/{{_id}}" method="POST">
          <button type="submit" class="button-delete-list">Delete</button>
        </form>
      </div>

      {{/each}}

    </div>
  </div>
</div>